<section class="section">
  <div class="container">
    <form>
      <!-- name -->
      <div class="field">
        <input
          type="text"
          name="name"
          class="input"
          placeholder="Votre nom"
          [(ngModel)]="name"
        />
      </div>

      <!-- email -->
      <div class="field">
        <input
          type="email"
          name="email"
          class="input"
          placeholder="Votre email"
          [(ngModel)]="email"
        />
      </div>

      <!-- subject -->
      <div class="field">
        <input
          type="input"
          name="subject"
          class="input"
          placeholder="Sujet du message"
          [(ngModel)]="subject"
        />
      </div>

      <!-- message -->
      <div class="field">
        <textarea
          class="textarea"
          name="message"
          placeholder="Votre message"
          [(ngModel)]="message"
        ></textarea>
      </div>

      <button type="submit" class="button is-danger is-large">Submit</button>
    </form>
  </div>
</section>
