
<div id="head">
  <b>Actualités</b>
</div>
<br />
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li class="is-active">
      <a href="#" aria-current="page">Filtres</a>
    </li>
    <li><a>Toute l'actualité</a></li>
    <li><a>Comuniqués</a></li>
    <li><a>Vidéos</a></li>
    <li><a>Photos</a></li>
    <li><a>Comuniqués</a></li>
    <li><a>Discours</a></li>
  </ul>
</nav>
<!-- <div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/256x256.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <br />
      <div class="media-content">
        <p class="title is-4">Titre du média</p>
        <p class="subtitle is-6">
          PARTAGEZ SUR VOS RESEAUX. <a>Facebook</a>
          <a>Twitter</a>
          <br />
        </p>
      </div>
    </div> -->

    <!-- <div class="content">
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-256x256">
          <img
            src="https://bulma.io/images/placeholders/256x256.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Titre du média</p>
        <p class="subtitle is-6">
          PARTAGEZ SUR VOS RESEAUX. <a>Facebook</a>
          <a>Twitter</a>
          <br />
        </p>
      </div>
    </div> -->

    <!-- <div class="content">
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div> -->
<div class="columns is-desktop">
  <div id="img-article">
    <figure class="image is-256x256">
      <img
        src="https://bulma.io/images/placeholders/256x256.png"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="column">
    <p class="title is-4">Titre du média</p>
        <p class="subtitle is-6">
          PARTAGEZ SUR VOS RESEAUX. <a>Facebook</a>
          <a>Twitter</a>
          <br />
        </p>
        <div class="content">
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
  </div>
</div>
