#action-bar{
    width: 100%;
    border-style: solid; 
    border-width: 10px; 
    border-color: white; 
    margin: 0px; 
    border-top: none;
    border-bottom: none;
    }

///

#text{
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1.4vw;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (max-width: 900px){ 
        font-size: 2.7vw;
        text-align: justify;
    }
}

#div-action{
    width: 50%; 
    padding-right: 10px;
    @media screen and (max-width: 900px){ 
        width: 100%;
    }
}
#div-action:hover{
    background-color: rgb(241, 241, 241);
}

#div-action-img{
    float: left;
    @media screen and (max-width: 900px){ 
        float: none;
    }
}


#action-img{

    width: 150px;
    height: 130px;
    padding: 10px;
    padding-top:16px;
    padding-bottom: 16px;
    @media screen and (max-width: 900px){ 
        padding: 7px;
        padding-top:13px;
        padding-bottom: 13px;
        text-align: center;
     }
}

#action-img-position{
    @media screen and (max-width: 900px){ 
       text-align: center; 
    }
}

#action-div-text{
    height: 200px;
    @media screen and (max-width: 900px){ 
        height: unset;
        width: 100%;
    }
}

#action-button{
    text-align: center;
    padding: 10px;
}

#action-separator{
    display: none;
    @media screen and (max-width: 900px){ 
        display: block;
    }
}

///

#action-img-main{
    width: 300px;
    height: 260px;
    padding: 15px;
    box-shadow: 1px 1px 8px #555;
    @media screen and (max-width: 900px){ 
        padding: 7px;
        text-align: center;
     }
}

#action-img-main:hover{
    box-shadow: 1px 1px 16px #555;
}

#action-div-img-main{
    float: left;
    @media screen and (max-width: 900px){ 
        float: none;
        align-items: center;
        align-content: center;
        align-self: center;
    }
}

#action-div-text-main{
    height: 271px; 
    width: calc(80%-256px);
    @media screen and (max-width: 900px){ 
        height: unset;
        width: 100%;
    }
}

#text-main{
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1.5vw; 
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    @media screen and (max-width: 900px){ 
        font-size: 3.6vw;
        text-align: justify;
    }
}

//////



