#action-bar{
    width: 100%;
    border-style: solid; 
    border-width: 10px; 
    border-color: white; 
    margin: 0px; 
    border-top: none;
    border-bottom: none;
    }


#action-img-position{
    @media screen and (max-width: 900px){ 
       text-align: center; 
    }
}

#action-div-text{
    height: 200px;
    @media screen and (max-width: 900px){ 
        height: unset;
        width: 100%;
    }
}

#action-button{
    text-align: center;
    padding: 10px;
}

#action-separator{
    display: none;
    @media screen and (max-width: 900px){ 
        display: block;
    }
}

///

#action-img-main{
    width: 300px;
    height: 260px;
    padding: 15px;
    box-shadow: 1px 1px 8px #555;
    @media screen and (max-width: 900px){ 
        padding: 7px;
        text-align: center;
     }
}

#action-img-main:hover{
    box-shadow: 1px 1px 16px #555;
}

#action-div-img-main{
    float: left;
    @media screen and (max-width: 900px){ 
        float: none;
        padding-bottom: 20px;
    }
}

#action-div-text-main{
    height: 271px; 
    width: calc(80%-256px);
    @media screen and (max-width: 900px){ 
        height: unset;
        width: 100%;
    }
}

#text-main{
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1.5vw; 
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    @media screen and (max-width: 900px){ 
        font-size: 3.6vw;
        text-align: justify;
    }
}

//////



