.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  ///

  .modal-item-content{
    width: 85%;
    float: left; 
    display: block;
    overflow: hidden;
    text-align: justify;
    overflow: auto;
    max-height: 300px;
    padding: 10px;
    @media screen and (max-width: 900px){ 
      width: 100%;
    }
  }

  #modal-head{
    background-color: white;
    margin: auto;
    width: 95%;
    border-radius: 5px;
    border: 10px white solid;
    font-size: 3vw;
    text-align: center;
    @media screen and (max-width: 900px){ 
      font-size: 4.5vw;
    }
  }

  #modal-content{
    background-color: white;
    margin: auto;
    width: 95%;
    height: 70%;
    border-radius: 5px;
    border: 10px white solid;
  }

  #modal-choices{
    background-color: white;
    margin: auto;
    width: 95%;
    border: 5px white solid;
    border-radius: 5px;
  }

  #modal-choice{
    width: calc(100% / 3); 
    float: left;
    text-align: center; 
    font-size: 2.5vw;
    color: white;
    background-color:  rgb(120, 247, 234);
    border: 10px solid rgb(120, 247, 234);
    @media screen and (max-width: 900px){ 
      font-size: 4.5vw;
    }
  }
  #modal-choice:hover{
    background-color:  turquoise;
    border-color: turquoise;
  }

  #modal-choices{
    width: 100%;
  }

  #modal-part{
    width: 100%;
  }

  #modal-logo{
    height: 25%;
    color: turquoise;
    text-align: center;
    font-size: 20px;
    width: 100%;
  }

  #modal-logos{
    height: 400px;
    float: left;
    margin: 10px;
    width: 11%;
  }
