<!-- <div class="container" id="app">
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        Any other Bulma elements you want -->
        <!-- <table>
          <tr>
            <td>Jhon</td>
            <td>Hi</td>
          </tr>
        </table>
        <input type="text" class="input" />
      </div>
      <button class="modal-close"></button>
    </div>
    <br /><br /><br />
    <p>
      <button class="button" id="showModal">Show</button>
    </p>
  </div> -->

