
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    
    <div>
      <div style="width: 25%; padding: 0px; margin: 0px;float:left; height: 42px;">
        Texte
      </div>
      <div style="width: 25%; padding: 0px; margin: 0px;float:left; height: 42px;">
        Images
      </div>
      <div style="width: 25%; padding: 0px; margin: 0px;float:left; height: 42px;">
        Vidéos
      </div>
      <div style="width: 25%; padding: 0px; margin: 0px;float:left; height: 42px;">
        <span class="close" onclick="closeModal();">&times;</span>
      </div>
    </div>
  </div>

</div>

