
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    
    <div id="modal-top">
      <div id="modal-choice" onclick="showText();">
        <b>Texte</b>
      </div>
      <div id="modal-choice" onclick="showImg();">
        <b>Images</b>
      </div>
      <div id="modal-choice" onclick="showVideo();">
        <b>Vidéos</b>
      </div>
      <div style="width: 13%; padding: 0px; margin: 0px; float:left; text-align: end; background-color: turquoise; padding-top: 3.7px; padding-bottom: 3.7px; height: 50px;">
        <a class="button is-rounded" onclick="closeModal();" style="background-color: white;  width: 40px; height: 40px; margin-right: 10px;">X</a>
      </div>
    </div>
    <div style="width: 87%; height: 512px; float: left;" id="modal-text">
      Texte variable selon l'action selectionner.
    </div>
    <div style="width: 87%; height: 512px; float: left;" id="modal-img">
      Images en lien avec l'action.
    </div>
    <div style="width: 87%; height: 512px; float: left;" id="modal-video">
      Vidéos en lien avec l'action.
    </div>
    <div style="width: 13%; float: left; height: 512px;">
      <div style="height: 25%;">
        BUDGET
      </div>
      <div style="height: 25%;">
        HABITANTS
      </div>
      <div style="height: 25%;">
        PAYS
      </div>
      <div style="height: 25%;">
        AUTRE
      </div>
    </div>
  </div>

</div>

