<br />
  <div id="head" >
    <b> Nos Actions</b>
  </div>
<br />

<div class="columns is-vcentered" style="border-style: solid; border-width: 50px; border-color: white;">

    <div style="width: 10%">
      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
    </div>
    <div class="column">
      <p class="bd-notification is-primary">Second column with more content. This is so you can see the vertical alignment.</p>
      <br />
      
    </div>


    <div style="width: 10%">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
      </div>
      <div class="column">
        <p class="bd-notification is-primary">Second column with more content. This is so you can see the vertical alignment.</p>
        <br />
        <!-- 
          ICI AJOUTER POP-UP présentation
        -->
      </div>
  </div>