p.paragraphe
{
    text-indent: 30px;
    text-align: justify;
    font-size: 18px;
}
.missions
{
    font-size: 19px;
}
.contenu
{
    margin-left: 5%;
    margin-right: 5%;
}
figure.center
{
    text-align: center;
}