<div id="head">
  <b>Qui sommes-nous ?</b>
</div>
<br />
<p>
  <b>International Solidarity Africa</b> est une association humanitaire internationale, <b>née
  officiellement en 2007</b>, sous le nom de Solidarité Picardie Sahel : à la suite d’un voyage entre deux
  amis au Sénégal. Très vite de ce voyage est né un projet et une vision commune avec la population
  locale.
</p>
<br />
<p>
  Depuis maintenant <b>11 ans officiellement et un peu plus de 18 ans sur le terrain</b>,
  International Solidarity Africa apporte une <b>assistance dans le domaine de l’éducation, la culture
  et l’aménagement urbain ou rural</b>, à des populations dont la vie et/ou la santé sont menacées. Nos
  plus grands projets ces dernières années ont essentiellement été concentrés au Sénégal où un
  partenariat solide a été créé. Désormais, le nouveau bureau élu en 2017, travail sur le
  développement et la diffusion au-delà des frontières sénégalais de notre philosophie, qui consiste à
  travailler sur la durée et le développement autonome des populations, grâce au dialogue et à
  l’échange de savoir-faire et de compétences sans discrimination dans le <b>respect de l’éthique
  humaine et des normes de durabilité pour un monde plus équitable.</b> 
</p>
<br />
<p>
  Plus récemment et dans l’objectif d’élargissement de sa zone d’intervention, I.S.A. envisage
  des nouveaux projets avec des partenaires locaux pour 2019 et 2020 au Togo, Guinée Conakry,
  Maroc et Bénin, autour de la thématique de l’éducation par le biais du sport et de la culture.
</p>
<br />
<p>
  Réunie autour d’un projet commun les équipes d’<b>I.S.A</b> rassemblent une centaine de
  bénévoles de différentes nationalités, d’âge et de professions. Ils sont la force et les acteurs d’un
  monde en pleine évolution, leur créativité, leur interculturalité et leur vision du monde sont la
  richesse de notre association. 
</p>
<br />
<p>
  Du fait de ses activités et de la réalité du terrain, I.S.A <b>rend compte de ses interventions</b>.
  Elle partage publiquement pour <b>témoigner</b> des conditions de vie des populations auprès desquelles
  elle intervient, et pour <b>informer</b> sur l'ampleur, l'efficacité ou les objectifs des secours engagés.        
</p>
<br />
<p>
  Nous opérons dans un <b>esprit de neutralité</b> et ne prenons <b>part à aucun conflit. Toutefois,
  nous</b> pouvons être <b>amenées</b> à <b>dénoncer</b> et <b>critiquer</b> publiquement les entraves à notre assistance
  humanitaire et aux manquements aux conventions internationales.
</p>
<br />
<div id="head">
  <b>Nos missions</b>
</div>
<br />
<p>
  <i>« Aujourd’hui l’association a pour ambition de créer un projet qui se veut éthique et durable dans
  un monde plus équitable pour les générations futures »</i>        
</p>
<br />
<p>
  <i>« Créons ce projet aujourd’hui pour un monde de demain »</i>
</p>
<br />
<p>
  Durant ces 3 années le bureau exécutif de l’association travaillera autour de ces 3 axes :
</p>
<div class="content">
  <ol type="1">
    <li>
      <b>Éducatif</b> : l’éducation pilier central de toute société et de chaque génération, nous allons
      pour cela développer en étroitement collaboration avec des professionnels locaux et
      internationaux un projet éducatif en corrélation avec les besoins des populations. 
    </li>
    <br />
    <li>
      <b>Culturel</b> : Nous allons travailler sur l’expression et l’épanouissement artistique des jeunes
      générations afin qu’ils deviennent les porte-paroles d’un continent d’une grande richesse et
      diversité culturelle hors-normes. 
    </li>
    <br />
    <li>
      <b>Sportif</b> : Le sport vecteur de valeur comme le respect, le dépassement de soi et la
      persévérance. Ce 3ème axe viendra compléter les deux précédents afin d’enrichir et de
      participer à l’éducation des jeunes des zones défavorisées.
    </li>
  </ol>
</div>
<p>
  En transversalité, nous développerons des aménagements urbains en adéquation avec les valeurs de
  l’écologie et du développement durable ; sans oublier la participation des jeunes des deux
  continents grâce à des chantiers internationaux, qui seront un moment fort de partage, d’échange et
  de savoir-faire interculturel.
</p>
<br />
<div id="head">
  <b>L'équipe</b>
</div>
<br />
<div id="team">
  <div class="columns">
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          Nom/Prénom
          <br />
          Rôle
        </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          Nom/Prénom
          <br />
          Rôle
        </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          Nom/Prénom
          <br />
          Rôle
        </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          Nom/Prénom
          <br />
          Rôle
        </figcaption>
      </figure>
    </div>  
  </div>
</div>