<div id="head">
  <b>Qui sommes-nous ?</b>
</div>
<br />
<p>
  <b>International Solidarity Africa</b> est une association humanitaire internationale, <b>née
  officiellement en 2007</b>, sous le nom de Solidarité Picardie Sahel : à la suite d’un voyage entre deux
  amis au Sénégal. Très vite de ce voyage est né un projet et une vision commune avec la population
  locale.
</p>
<br />
<p>
  Depuis maintenant <b>11 ans officiellement et un peu plus de 18 ans sur le terrain</b>,
  International Solidarity Africa apporte une <b>assistance dans le domaine de l’éducation, la culture
  et l’aménagement urbain ou rural</b>, à des populations dont la vie et/ou la santé sont menacées. Nos
  plus grands projets ces dernières années ont essentiellement été concentrés au Sénégal où un
  partenariat solide a été créé. Désormais, le nouveau bureau élu en 2017, travail sur le
  développement et la diffusion au-delà des frontières sénégalais de notre philosophie, qui consiste à
  travailler sur la durée et le développement autonome des populations, grâce au dialogue et à
  l’échange de savoir-faire et de compétences sans discrimination dans le <b>respect de l’éthique
  humaine et des normes de durabilité pour un monde plus équitable.</b> 
</p>
<br />
<p>
  Plus récemment et dans l’objectif d’élargissement de sa zone d’intervention, I.S.A. envisage
  des nouveaux projets avec des partenaires locaux pour 2019 et 2020 au Togo, Guinée Conakry,
  Maroc et Bénin, autour de la thématique de l’éducation par le biais du sport et de la culture.
</p>
<br />
<p>
  Réunie autour d’un projet commun les équipes d’<b>I.S.A</b> rassemblent une centaine de
  bénévoles de différentes nationalités, d’âge et de professions. Ils sont la force et les acteurs d’un
  monde en pleine évolution, leur créativité, leur interculturalité et leur vision du monde sont la
  richesse de notre association. 
</p>
<br />
<p>
  Du fait de ses activités et de la réalité du terrain, I.S.A <b>rend compte de ses interventions</b>.
  Elle partage publiquement pour <b>témoigner</b> des conditions de vie des populations auprès desquelles
  elle intervient, et pour <b>informer</b> sur l'ampleur, l'efficacité ou les objectifs des secours engagés.        
</p>
<br />
<p>
  Nous opérons dans un <b>esprit de neutralité</b> et ne prenons <b>part à aucun conflit. Toutefois,
  nous</b> pouvons être <b>amenées</b> à <b>dénoncer</b> et <b>critiquer</b> publiquement les entraves à notre assistance
  humanitaire et aux manquements aux conventions internationales.
</p>