<h1 class="title">Qui sommes-nous ?</h1>
<p>
  <b>International Solidarity Africa</b> est une association humanitaire internationale, <b>née
  officiellement en 2007</b>, sous le nom de Solidarité Picardie Sahel : à la suite d’un voyage entre deux
  amis au Sénégal. Très vite de ce voyage est né un projet et une vision commune avec la population
  locale.
</p>
<p>
  Depuis maintenant <b>11 ans officiellement et un peu plus de 18 ans sur le terrain</b>,
  International Solidarity Africa apporte une <b>assistance dans le domaine de l’éducation, la culture
  et l’aménagement urbain ou rural</b>, à des populations dont la vie et/ou la santé sont menacées. Nos
  plus grands projets ces dernières années ont essentiellement été concentrés au Sénégal où un
  partenariat solide a été créé. Désormais, le nouveau bureau élu en 2017, travail sur le
  développement et la diffusion au-delà des frontières sénégalais de notre philosophie, qui consiste à
  travailler sur la durée et le développement autonome des populations, grâce au dialogue et à
  l’échange de savoir-faire et de compétences sans discrimination dans le <b>respect de l’éthique
  humaine et des normes de durabilité pour un monde plus équitable.</b> 
</p>
<p>
  Plus récemment et dans l’objectif d’élargissement de sa zone d’intervention, I.S.A. envisage
  des nouveaux projets avec des partenaires locaux pour 2019 et 2020 au Togo, Guinée Conakry,
  Maroc et Bénin, autour de la thématique de l’éducation par le biais du sport et de la culture.
</p>
<p>
  Réunie autour d’un projet commun les équipes d’<b>I.S.A</b> rassemblent une centaine de
  bénévoles de différentes nationalités, d’âge et de professions. Ils sont la force et les acteurs d’un
  monde en pleine évolution, leur créativité, leur interculturalité et leur vision du monde sont la
  richesse de notre association. 
</p>
<p>
  Du fait de ses activités et de la réalité du terrain, I.S.A <b>rend compte de ses interventions</b>.
  Elle partage publiquement pour <b>témoigner</b> des conditions de vie des populations auprès desquelles
  elle intervient, et pour <b>informer</b> sur l'ampleur, l'efficacité ou les objectifs des secours engagés.        
</p>
<p>
  Nous opérons dans un <b>esprit de neutralité</b> et ne prenons <b>part à aucun conflit. Toutefois,
  nous</b> pouvons être <b>amenées</b> à <b>dénoncer</b> et <b>critiquer</b> publiquement les entraves à notre assistance
  humanitaire et aux manquements aux conventions internationales.
</p>
<h1 class="title">Nos projets</h1>
<h3>ECOLE THIALLE</h3>
<p>
  1999 : Rencontre d’une école rurale : THIALLE, lors d’un voyage au Sénégal.
  Contacts établis.
</p>
<p>
  2002 : Début de la correspondance entre l’école de THIALLE et le regroupement
  scolaire de LAVACQUERIE-EAUDEDUIT(Oise).
</p>
<p>
  2003 : projet de bibliothèque scolaire pour l’école de THIALLE : premier envoi de
  livres.        
</p>
<p>
  2004 : second envoi de livres à THIALLE. Les contacts entre écoles continuent.
  Mission sur place.
</p>
<p>
  2011 : Construction de toilettes à THIALLE (1200 euros).
</p>
<h4>CHIFFRES-CLÉS :</h4>
<p>
  <b>198 enfants sur 700 dans le village, 1200 habitants, 2 écoles.</b>
</p>
<p>
  Effectif /2010/2011 : 191 (+8)
</p>
<h3>ECOLE KEUR BABA ALIMA</h3>
<p>
  2006 : Prise de contact avec l'école.
</p>
<p>
  2010 : Mission sur place en février : Inauguration de la salle de classe construite à
  KEUR BABA ALIMA, (1400 euros)
</p>
<p>
  2012 : Construction d’un mur de clôture à l’école de KEUR BABA ALIMA (devis 8000 euros)        
</p>
<h4>CHIFFRES-CLÉS :</h4>
<p>
  <b>245 enfants sur 475 dans le village, 1247 habitants, 4 écoles.</b>
</p>
<p>
  Effectif /2010/2011 : 236 (+8)
</p>
<h3>ECOLE TAIBA SANTHIE</h3>
<p>
  2009 : Mission sur place : Prise de contact avec l'école de TAIBA SANTHIE.
  Projets 2012 : Réhabilitation de 3 classes à TAIBA SANTHIE (devis 2000 euros)
</p>
<h4>CHIFFRES-CLÉS :</h4>
<p>
  <b>142 enfants sur 350 habitants et environ 350 enfants, 1 école.</b>
</p>
<p>
  Effectif /2010/2011 : 139(+3)
</p>
<h3>ECOLE NDIAKHATE GORMON</h3>
<p>
  2009 : Mission sur place : Prise de contact avec l'école de NDIAKHATE
  GORMOON
</p>
<p>
  2011 : Construction d’une classe et d’un bureau à NDIAKHATE GORMOON
  (5900€)
</p>
<h4>CHIFFRES-CLÉS :</h4>
<p>
  <b>112 enfants sur 720 habitants et 400 enfants, 1 école.</b>
</p>
<p>
  Effectif /2010/2011 :103 (+9)
</p>
<h3>ECOLE SINTHIOU YORO SADIO</h3>
<p>
  2009 : Mission sur place : Prise de contact avec l'école de NDIAKHATE
  GORMOON
</p>
<p>
  2010 : Début des travaux d’adduction d’eau à l’école de SINTHIOU YORO
  SADIO (1300 euros).        
</p>
<h4>CHIFFRES-CLÉS :</h4>
<p>
  <b>100 enfants sur 125 au village et 341 habitants</b>
</p>
<p>
  Effectif /2009/2010 :84 (+8)
</p>
<h3>ECOLE LELO</h3>
<p>
  2006 : Prise de contact avec l'école de LELO.
</p>
<p>
  2010 : Construction d’une classe et d’un bureau à l’école de LELO (2500
  euros).
</p>
<h4>CHIFFRES-CLÉS :</h4>
<p>
  <b>235 enfants venant de 4 villages pour 400 enfants et 1080 habitants, 1 école.</b>
</p>
<p>
  Effectif /2010//2011 :234 (+2)
</p>
<h1 class="title">Autres actions menées</h1>
<p>
  2002 :
</p>
<ul>
  <li>
    Début de la correspondance entre l’école de THIALLE et le regroupement scolaire de
    LAVACQUERIE-BEAUDEDUIT(Oise).
  </li>
</ul>
<p>
  2006 :
</p>
<ul>
  <li>
    Collecte de livres à Amiens avec le concours des bibliothèques d’Amiens Métropole, 2000
    livres recueillis
  </li>
  <li>
    Correspondances établies avec l’école Saint Maurice d’AMIENS et l’école Henri Villette de
    CREVECOEUR LE GRAND(Oise).          
  </li>
</ul>
<p>
  2007 :
</p>
<ul>
  <li>
    Envoi de 1000 kg de livres et matériel scolaire avec l’aide des élèves du lycée Romain
    Rolland (organisation des transports) et du lycée Montaigne (conduite routière).
  </li>
  <li>
    Mission de 3 membres de l’association sur place en novembre.
  </li>
</ul>
<p>
  2008 :
</p>
<ul>
  <li>
    Invitation de 7 instituteurs et directeurs d’école sénégalais en Picardie : visite des écoles
    correspondantes, des bibliothèques d’Amiens, de la région ex-Picardie (Hauts-de-France), de
    Chambord et de Paris. Subvention du Conseil régional d’ex-Picardie (Hauts-de-France)          
  </li>
</ul>
<p>
  2009 :
</p>
<ul>
  <li>
    Correspondance établie avec les écoles Jean François Lesueur d’Amiens et les
    regroupements scolaires de MEZIERES EN SANTERRE et du PLESSIER
    ROZAINVILLERS          
  </li>
</ul>
<p>
  2010 :
</p>
<ul>
  <li>
    Remise d’une mallette de premiers secours dans chaque école
  </li>
  <li>
    Envoi de 2000 livres et de matériel scolaire pour les écoles. (Reçu en juillet)
  </li>
</ul>
<p>
  2011 :
</p>
<ul>
  <li>
    Renforcement des moyens donnés aux écoles pour la pratique de la langue française (livres,
    documents pédagogiques)
  </li>
  <li>
    Voyage des membres de l’association dans les écoles lors des vacances de la Toussaint.
  </li>
</ul>
<p>
  2017 :
</p>
<ul>
  <li>
    300 livres recueillis + 12 ordinateurs.
  </li>
  <li>
    Modification du nom de l’Association.
  </li>
  <li>
    Prise de contact avec le Sénégal.
  </li>
  <li>
    Rencontre avec les contacts officiels de la Guinée Conakry
  </li>
</ul>
<p>
  2018 :
</p>
<ul>
  <li>
    Création du site internet et de la charte graphique.
  </li>
  <li>
    Déplacement au Maroc.
  </li>
  <li>
    Mise à jour des objectifs du bureau ainsi que les thématiques qui seront traitées.
  </li>
</ul>
<h1 class="title">Projet 2017-2020</h1>
<p>
  <i>« Aujourd’hui l’association a pour ambition de créer un projet qui se veut éthique et durable dans
  un monde plus équitable pour les générations futures »</i>        
</p>
<p>
  <i>« Créons ce projet aujourd’hui pour un monde de demain »</i>
</p>
<p>
  Durant ces 3 années le bureau exécutif de l’association travaillera autour de ces 3 axes :
</p>
<ol>
  <li>
    Éducatif : l’éducation pilier central de toute société et de chaque génération, nous allons
    pour cela développer en étroitement collaboration avec des professionnels locaux et
    internationaux un projet éducatif en corrélation avec les besoins des populations. 
  </li>
  <li>
    Culturel : Nous allons travailler sur l’expression et l’épanouissement artistique des jeunes
    générations afin qu’ils deviennent les porte-paroles d’un continent d’une grande richesse et
    diversité culturelle hors-normes. 
  </li>
  <li>
    Sportif : Le sport vecteur de valeur comme le respect, le dépassement de soi et la
    persévérance. Ce 3ème axe viendra compléter les deux précédents afin d’enrichir et de
    participer à l’éducation des jeunes des zones défavorisées.
  </li>
</ol>
<p>
  En transversalité, nous développerons des aménagements urbains en adéquation avec les valeurs de
  l’écologie et du développement durable ; sans oublier la participation des jeunes des deux
  continents grâce à des chantiers internationaux, qui seront un moment fort de partage, d’échange et
  de savoir-faire interculturel.
</p>
<p>
  NASRI Fayçal
</p>
<p>
  Président de l'association
  <br>
  <b>International Solidarité Africa</b>
</p>