p
{
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 30px;
}
ol
{
    margin-left: 10%;
    margin-right: 10%;
}

div#team
{
    margin-left: 5%;
    margin-right: 5%;
}

figure.center
{
    text-align: center;
}