<div id="team">
  <div class="columns">
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          NASRI
          <br />
          Fayçal
          <br />
          <b>Président</b>
        </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          CAMARA 
          <br />
          Amadou
          <br />
          <b>Vice-Président</b>
        </figcaption>
      </figure>
    </div>  
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        <figcaption>
          UGAN 
          <br />
          Naida
          <br />
          <b>Secrétaire</b>
        </figcaption>
      </figure>
    </div> 
    <div class="column">
      <figure class="center">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      <figcaption>
        ABSHIR-ALI 
        <br />
        Ismaeil
        <br />
        <b>Trésorier</b>
      </figcaption>
    </figure>
  </div>
  <div class="column">
    <figure class="center">
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <figcaption>
        BORGNE
        <br />
        Loane
        <br />
        <b>Relation publique
        <br/>
        Mécénat</b>
      </figcaption>
    </figure>
  </div>
  <div class="column">
    <figure class="center">
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <figcaption>
        ABSHIR-ALI 
        <br />
        Yonis
        <br />
        <b>Community Manager</b>
      </figcaption>
    </figure>
  </div>
  <div class="column">
    <figure class="center">
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <figcaption>
        ADOUM-FADOUL 
        <br />
        Khoursa
        <br />
        <b>Informatique</b>
      </figcaption>
    </figure>
  </div>
</div>