<nav class="level">
  <div>
    <div style="float: left">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px;">
    <div>
      <p>Le but de cet action ...</p>
      <p>Cette action nous a permis de ... / le 11 mai 2014 a été fait ...</p>
    </div>
  </div>
  <div>
    <div style="float: left">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px;">
    <div>
      <p>Le but de cet action ...</p>
      <p>Cette action nous a permis de ... / le 11 mai 2014 a été fait ...</p>
    </div>
  </div>
</nav>
<nav class="level">
  <div>
    <div style="float: left">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px;">
    <div>
      <p>Le but de cet action ...</p>
      <p>Cette action nous a permis de ... / le 11 mai 2014 a été fait ...</p>
    </div>
  </div>
  <div>
    <div style="float: left">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px;">
    <div>
      <p>Le but de cet action ...</p>
      <p>Cette action nous a permis de ... / le 11 mai 2014 a été fait ...</p>
    </div>
  </div>
</nav>


<!--
<section>
    <div class="columns" style="border-style: solid; border-color: white; border-width: 30px; width: 50%; margin-left:25%;">
     <div class="column" style="float: left; padding:0px; padding-right: 15px;">
       <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
     </div>
     <div class="column" style="height: 128px;">
      <p class="title">Action en cours :</p>
      'ajout barre d'avancement'
     </div>
    </div>
 <div class="columns" style="border-style: solid; border-color: white; border-width: 30px;">
    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
    <div class="column" style="height: 128px;">
      Second column
      'ajout bouton détails'
    </div>
    <br/>
    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="height: 128px;">
      Fourth column
      'ajout bouton détails'
    </div>

    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="height: 128px;">
      Second column
      'ajout bouton détails'
    </div>
    <br/>
    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="height: 128px;">
      Fourth column
      'ajout bouton détails'
    </div>
  </div>
  <div class="columns" style="border-style: solid; border-color: white; border-width: 30px;">
      <div class="column" style="float: left; padding:0px; padding-right: 15px;">
        <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
      </div>
      <div class="column" style="height: 128px;">
        Second column
        'ajout bouton détails'
      </div>
      <br/>
      <div class="column" style="float: left; padding:0px; padding-right: 15px;">
        <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
      </div>
      <div class="column" style="height: 128px;">
        Fourth column
        'ajout bouton détails'
      </div>
  
      <div class="column" style="float: left; padding:0px; padding-right: 15px;">
        <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
      </div>
      <div class="column" style="height: 128px;">
        Second column
        'ajout bouton détails'
      </div>
      <br/>
      <div class="column" style="float: left; padding:0px; padding-right: 15px;">
        <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
      </div>
      <div class="column" style="height: 128px;">
        Fourth column
        'ajout bouton détails'
      </div>
    </div>
</section>
-->