<nav class="level" id="action-bar">
  <div>
    <div style="float: left; width: 256px;">
      <img src="https://bulma.io/images/placeholders/256x256.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 256px; width: calc((100%-256px)/2);">
    <p id="text-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.
      <br />
      <br />
      <progress class="progress is-success" value="50" max="100" style="padding-left:10%; padding-right:10%; margin: 0px;" ></progress>
      <br />
      1500€ / 3000 € Collecté ...
    </p>
    <a class="button is-success"> Détails </a>
  </div>
</nav>




<nav class="level" id="action-bar">
  <div>
    <div style="float: left; width: 128px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px; width: calc((50%-128px)/2)">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.</p>
    <a class="button is-success"> Détails </a>
  </div>
  <div>
    <div style="float: left; width: 128px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px; padding-left: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px; width: calc((50%-128px)/2)">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.</p>
    <a class="button is-success"> Détails </a>
  </div>
</nav>
<nav class="level" id="action-bar">
  <div>
    <div style="float: left; width: 128px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px; width: calc((50%-128px)/2)">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.</p>
    <a class="button is-success"> Détails </a>
  </div>
  <div>
    <div style="float: left; width: 128px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px; padding-left: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px; width: calc((50%-128px)/2)">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.</p>
    <a class="button is-success"> Détails </a>
  </div>
</nav>
<nav class="level" id="action-bar">
  <div>
    <div style="float: left; width: 128px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px; width: calc((50%-128px)/2)">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.</p>
    <a class="button is-success"> Détails </a>
  </div>
  <div>
    <div style="float: left; width: 128px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px; padding-left: 15px;">
    </div>
  </div>
  <div class="level-item has-text-centered" style="height: 128px; width: calc((50%-128px)/2)">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et libero lacus. Donec fringilla neque sit amet vehicula scelerisque. Proin auctor, erat a bibendum volutpat, sem risus tincidunt quam, id mollis enim orci vel nulla.</p>
    <a class="button is-success"> Détails </a>
  </div>
</nav>