#action-bar{
    width: 100%;
    border-style: solid; 
    border-width: 10px; 
    border-color: white; 
    margin: 0px; 
    border-top: none;
    border-bottom: none;
    }

///

#text{
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1.3vw;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (max-width: 900px){ 
        font-size: 3.6vw;
        text-align: justify;
    }
}

#div-action{
    width: 50%; 
    padding-right: 10px;
    @media screen and (max-width: 900px){ 
        width: 100%;
    }
}
#div-action:hover{
    background-color: rgb(241, 241, 241);
}

#div-action-img{
    float: left; 
    width: 206px;
    height: 200px;
    padding: 10px;
    padding-bottom: 19px;
    padding-top: 19px;
    @media screen and (max-width: 900px){ 
        width: unset;
        height: unset;
        float: none;
        padding-bottom: 20px;
        padding-top: 0px;
    }
}

#action-img{
    width: 187px;
    height: 162px;
    box-shadow: 1px 1px 8px #555;
    @media screen and (max-width: 900px){ 
        text-align: center;
     }
}

#action-img:hover{
    box-shadow: 1px 1px 16px #555;
}

#action-img-position{
    @media screen and (max-width: 900px){ 
       text-align: center; 
    }
}

#action-div-text{
    height: 200px;
    @media screen and (max-width: 900px){ 
        height: unset;
        width: 100%;
    }
}

#action-button{
    text-align: center;
    padding: 10px;
}

#action-separator{
    display: none;
    @media screen and (max-width: 900px){ 
        display: block;
    }
}

///
