<!-- <div>
  <div class="columns" style="border-style: solid; border-width: 20px; border-color: white;">
    <div class="column" style="width: 40%;margin:0px;
    padding:0px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="width: 40%;margin:0px;
    padding:0px;">
      <p class="bd-notification is-primary">Second column with more content. This is so you can see the vertical alignment.</p>
    </div>
  </div>
    <div class="columns" style="border-style: solid; border-width: 20px; border-color: white;">
      <div class="column" style="width: 40%;margin:0px;
      padding:0px; float:left">
        <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
      </div>
      <div class="column" style="width: 40%;margin:0px;
      padding:0px; float:right">
        <p class="bd-notification is-primary">Second column with more content. This is so you can see the vertical alignment.</p>
      </div>
    </div>
  </div>

 -->
<section>
 <div class="columns" style="border-style: solid; border-color: white; border-width: 30px;">
    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image" style="padding-right: 15px;">
    </div>
    <div class="column" style="height: 128px;">
      Second column
    </div>
    <br/>
    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="height: 128px;">
      Fourth column
    </div>

    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="height: 128px;">
      Second column
    </div>
    <br/>
    <div class="column" style="float: left; padding:0px; padding-right: 15px;">
      <img src="https://bulma.io/images/placeholders/128x128.png"  alt="Placeholder image">
    </div>
    <div class="column" style="height: 128px;">
      Fourth column
    </div>
  </div>
</section>