#action-bar{
    width: 100%;
    border-style: solid; 
    border-width: 10px; 
    border-color: white; 
    margin: 0px; 
    }
#text{
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1vw;
    padding-right: 15px;
}

#text-main{
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1.3vw; 
    padding-right: 15px;
}

#tall-of-action{
    @media screen and (max-width: 800px){ 
        width: 100%;
    }
}

#tall-of-text{
    p{
        font-size: 15;
    }
    @media screen and (max-width: 1150px){
        p{
            font-size: 2;
        }
    }
}
